In [7]:
import pandas as pd
import numpy as np

### READ DATA

In [8]:
data = pd.read_csv('vehicles/vehicles_messy.csv',low_memory=False)

In [9]:
data

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

### EXAMINE FOR POTENTIAL ISSUES

In [10]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

#### Missing values

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
barrels08          37843 non-null float64
barrelsA08         37843 non-null float64
charge120          37843 non-null float64
charge240          37843 non-null float64
city08             37843 non-null int64
city08U            37843 non-null float64
cityA08            37843 non-null int64
cityA08U           37843 non-null float64
cityCD             37843 non-null float64
cityE              37843 non-null float64
cityUF             37843 non-null float64
co2                37843 non-null int64
co2A               37843 non-null int64
co2TailpipeAGpm    37843 non-null float64
co2TailpipeGpm     37843 non-null float64
comb08             37843 non-null int64
comb08U            37843 non-null float64
combA08            37843 non-null int64
combA08U           37843 non-null float64
combE              37843 non-null float64
combinedCD         37843 non-null float64
combinedUF         37843 non-null float64
cylinders          37720 non-null float64
displ              37723 non-null float64
drive              36654 non-null object
engId              37843 non-null int64
eng_dscr           22440 non-null object
feScore            37843 non-null int64
fuelCost08         37843 non-null int64
fuelCostA08        37843 non-null int64
fuelType           37843 non-null object
fuelType1          37843 non-null object
ghgScore           37843 non-null int64
ghgScoreA          37843 non-null int64
highway08          37843 non-null int64
highway08U         37843 non-null float64
highwayA08         37843 non-null int64
highwayA08U        37843 non-null float64
highwayCD          37843 non-null float64
highwayE           37843 non-null float64
highwayUF          37843 non-null float64
hlv                37843 non-null int64
hpv                37843 non-null int64
id                 37843 non-null int64
lv2                37843 non-null int64
lv4                37843 non-null int64
make               37843 non-null object
model              37843 non-null object
mpgData            37843 non-null object
phevBlended        37843 non-null bool
pv2                37843 non-null int64
pv4                37843 non-null int64
range              37843 non-null int64
rangeCity          37843 non-null float64
rangeCityA         37843 non-null float64
rangeHwy           37843 non-null float64
rangeHwyA          37843 non-null float64
trany              37832 non-null object
UCity              37843 non-null float64
UCityA             37843 non-null float64
UHighway           37843 non-null float64
UHighwayA          37843 non-null float64
VClass             37843 non-null object
year               37843 non-null int64
youSaveSpend       37843 non-null int64
guzzler            2281 non-null object
trans_dscr         15047 non-null object
tCharger           5186 non-null object
sCharger           666 non-null object
atvType            3072 non-null object
fuelType2          1408 non-null object
rangeA             1403 non-null object
evMotor            562 non-null object
mfrCode            7025 non-null object
c240Dscr           37 non-null object
charge240b         37843 non-null float64
c240bDscr          36 non-null object
createdOn          37843 non-null object
modifiedOn         37843 non-null object
startStop          6138 non-null object
phevCity           37843 non-null int64
phevHwy            37843 non-null int64
phevComb           37843 non-null int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

In [12]:
null_cols = data.isnull().sum()

In [13]:
null_cols [null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [14]:
drop_cols = list(null_cols[null_cols > 10000].index)
print(drop_cols)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [15]:
data = data.drop(drop_cols, axis=1)

In [16]:
data.shape

(37843, 70)

We can see that most of the time, cylinders is null when displ is null and that the most of the records where both fields are null have a fuel type of Electricity. This makes sense, as electric cars do not have cylinders and can therefore not have any displacement. In this case, it would make sense to replace these null values with zeros. Pandas makes it easy to do that with the fillna method.

In [17]:
null_displ = data[(data['displ'].isnull() == True)]

In [18]:
null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive', 'fuleType', 'cylinders', 'displ']]

KeyError: "['fuleType'] not in index"

In [19]:
null_displ

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Midsize Station Wagons,2000,2750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0000,0,0.0,0.0,46.0000,...,0.0,Two Seaters,2001,1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0000,0,0.0,0.0,75.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,-1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30969,0.192,0.0,0.0,4.0,120,119.6000,0,0.0,0.0,28.1744,...,0.0,Small Station Wagons,2017,3750,0.00,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30972,0.204,0.0,0.0,10.0,98,97.5636,0,0.0,0.0,35.0000,...,0.0,Large Cars,2016,3500,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30973,0.192,0.0,0.0,12.0,101,101.4750,0,0.0,0.0,33.0000,...,0.0,Large Cars,2016,3750,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30974,0.210,0.0,0.0,12.0,92,92.4713,0,0.0,0.0,36.0000,...,0.0,Large Cars,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30975,0.216,0.0,0.0,12.0,91,91.2362,0,0.0,0.0,37.0000,...,0.0,Standard Sport Utility Vehicle 4WD,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0

In [22]:
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)

### INCORRECT VALUES

A vehicle without cylinders should not have displacement and vice versa.

In [23]:
test = data[(data['cylinders']==0) & (data['displ']!=0)]

### LOW VARIANCE COLUMNS

90% of the values are the same so that we can remove them from our data set.  If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

### EXTREME VALUES AND OUTLIERS

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

- 25th Percentile - (IQR x 1.5)

- 75th Percentile + (IQR x 1.5)
<br>
<br>
Any values outside this range are potential outliers and should be investigated.

### DATA TYPES

### CLEANING TEXT AND REMOVING SPECIAL CHARACTERS

In [1]:
# See unique values

In [2]:
# Remove parentheses and make spacing more consistent
# Replace with Auto

### FINDING AND REMOVING DUPLICATES